<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Micro Lecturi - Find a book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <script src="//unpkg.com/alpinejs" defer=""></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous"></script>
    <script defer="" data-domain="modernserial.com" src="https://plausible.io/js/script.manual.js"></script>

    <script>window.plausible = window.plausible || function () {
        (window.plausible.q = window.plausible.q || []).push(arguments)
    }</script>

    <!-- trigger pageview -->
    <script>
        function prepareUrl(params) {
            const url = new URL(location.href)
            const queryParams = new URLSearchParams(location.search)
            let customUrl = url.protocol + "//" + url.hostname + url.pathname.replace(/\/$/, '')
            for (const paramName of params) {
                let paramValue = queryParams.get(paramName)
                if (paramValue) {
                    paramValue = paramValue.replace(/ /g, '+').toLocaleLowerCase()
                    customUrl = customUrl + '/' + paramName + '/' + paramValue
                }
            }
            return customUrl
        }

        plausible('pageview', {u: prepareUrl(["search", "genre", "page", "order_by", "order_sign", "error_message"])})
    </script>


    <meta property="og:title" content="Micro Lecturi">
    <meta property="og:description" content="Read classic books as email newsletters.">
    <meta property="og:image"
          content="https://modernserial.s3.us-west-1.amazonaws.com/images/a-a-a-a-buncha-static-images/default-og-image.png">
    <meta property="og:url" content="https://modernserial.com/books/">
    <meta property="og:type" content="website">


    <meta name="twitter:card" content="summary_large_image">
    <style>                      .htmx-indicator {
        opacity: 0;
        transition: opacity 200ms ease-in;
    }

    .htmx-request .htmx-indicator {
        opacity: 1
    }

    .htmx-request.htmx-indicator {
        opacity: 1
    }                    </style>
</head>

<body class="flex flex-col h-screen justify-between">

<!-- Header -->
<header class="absolute inset-x-0 top-0 z-30 bg-amber-50">
    <nav class="flex mx-auto items-center justify-between p-3 gap-4 md:gap-8 lg:px-8" aria-label="Global">
        <a href="/" class="-m-1.5 p-1.5 sm:flex-1">
            <span class="h8 font-sans text-lg sm:text-xl font-semibold">Micro Lecturi</span>
        </a>
        <!--        <div class="hidden sm:flex gap-x-6 md:gap-x-12">-->
        <!--            <a href="/books" class="text-sm font-semibold leading-6 text-gray-900 hover:text-red-500">-->
        <!--                Books-->
        <!--            </a>-->

        <!--            <a href="/about" class="text-sm font-semibold leading-6 text-gray-900 hover:text-red-500">-->
        <!--                About-->
        <!--            </a>-->
        <!--        </div>-->

        <!--        <a href="/books" class="sm:hidden text-sm font-semibold leading-6 text-gray-900 hover:text-red-500">-->
        <!--            Books-->
        <!--        </a>-->

        <!--        <a href="/about" class="sm:hidden text-sm font-semibold leading-6 text-gray-900 hover:text-red-500">-->
        <!--            About-->
        <!--        </a>-->
        <!--        <div class="flex sm:flex-1 items-center justify-end gap-x-3 md:gap-x-6">


                    <a href="/accounts/login/" class="text-sm font-semibold leading-6 text-gray-900">
                        Vezi unde ai ramas<span aria-hidden="true" class="hidden sm:inline-flex">&nbsp;→</span></a>


                </div>-->
    </nav>
</header>

<!-- Main content -->
<div class="mb-auto grow" style="background-image: url('{{ url_for('static', filename='img/background.png') }}');">

    <div class="pt-24 pb-2 px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                Citeste pentru BAC direct pe email 📚
            </h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                Lecturile pentru BAC, putin cate putin 📎. Le primesti pe mail 🚀. Citesti in metrou 📖
            </p>
        </div>
    </div>

    <!-- search bar -->
    <form action="/books/search" method="get">

        <div class="relative z-10" role="dialog" aria-modal="true">
            <div class="inset-0 z-10 overflow-y-auto pt-4 px-4">
                <div class="mx-auto max-w-md md:max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-black ring-opacity-5 transition-all">
                    <div class="relative">
                        <svg class="pointer-events-none absolute top-3.5 left-4 h-5 w-5 text-gray-400"
                             viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <!-- todo add hidden label -->
                        <input name="search" id="search-bar" type="text"
                               class="h-12 border-0 bg-transparent pl-11 pr-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm w-full"
                               placeholder="Cauta dupa autor sau titlu..." role="combobox" aria-expanded="false"
                               aria-controls="options" value="{{ query }}">
                    </div>
                </div>

                {% if query %}
                <div class="py-6 mx-auto max-w-md md:max-w-xl transform divide-y divide-gray-100 overflow-hidden transition-all flex content-center justify-center gap-8">
                    <a href="/"
                       class="rounded-md bg-gray-300 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                        Reset
                    </a>
                    <button type="submit"
                            class="rounded-md bg-red-400 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                        Search
                    </button>
                </div>
                {% if no_results %}
                <p class="text-center text-gray-500 pb-4">Nu am putut gasi nicio lectura care sa corespunda cautarii
                    respective. Ne
                    pare rau!</p>
                {% endif %}
                {% else %}
                <div class="py-6 mx-auto max-w-md md:max-w-xl transform divide-y divide-gray-100 overflow-hidden transition-all flex content-center justify-center gap-8">
                    <button type="submit"
                            class="rounded-md bg-red-400 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                        Search
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
                <div class="flex justify-center items-center pb-4 pt-4 gap-x-2">
            <span class="text-xs sm:text-lg text-gray-900">Genuri 🌵 </span>


            <div class="relative inline-block">
                <div>
                    <button type="button"
                            class="inline-flex items-center justify-center gap-x-1.5 bg-white rounded-md px-2 py-1 text-xs sm:text-lg font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                            onclick="toggleGenreMenu()" id="genre-menu-button" aria-expanded="true"
                            aria-haspopup="true">
                        {{ selected_genre }}
                        <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>

                </div>
                <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                     id="genre-menu" role="menu" aria-orientation="vertical" aria-labelledby="genre-menu-button"
                     style="display: none" tabindex="-1">
                    <div class="py-1" role="none">
                        <a href="{{ url_for('index') }}"
                           class="text-gray-900 block px-4 py-2 text-xs sm:text-lg hover:text-gray-900" role="menuitem"
                           tabindex="-1" id="genre-menu-item-0">Toate</a>
                        {% for category in lecture_categories %}
                        <a href="{{ url_for('index', genre=category.name) }}"
                           class="text-gray-900 block px-4 py-2 text-xs sm:text-lg hover:text-gray-900" role="menuitem"
                           tabindex="-1">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </form>


    <!--  book list  -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">



        <ul role="list"
            class="grid grid-cols-3 gap-x-4 gap-y-8 sm:gap-x-10 lg:grid-cols-5 2xl:grid-cols-6 xl:gap-x-16 2xl-gap-x-32 py-2">
            {% for lecture in lectures %}
            <li class="relative">
                <div class="relative group block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-red-400 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 shadow-md">
                    <img src="{{ url_for('static', filename='img/' + lecture.id|string + '.PNG') }}"
                         class="pointer-events-none object-cover group-hover:opacity-75">

                    <a href="/lecture/{{ lecture.id }}" type="button" class="absolute inset-0 focus:outline-none">
                        <span class="sr-only">View details for {{ lecture.title }}</span>
                    </a>
                </div>
                <p class="pointer-events-none mt-2 text-center block truncate text-sm font-medium text-gray-900">
                    {{ lecture.title }}
                </p>
                <a href="{{ url_for('search_lectures', search=lecture.author) }}"
                   class="block text-center text-sm font-medium text-gray-500 decoration-inherit underline hover:text-gray-700">
                    {{ lecture.author }}
                </a>

                <p class="pointer-events-none text-center block truncate text-xs font-medium text-gray-600">
                    Read in {{ lecture.chunks }} emails
                </p>
            </li>
            {% endfor %}
        </ul>


        <!--            &lt;!&ndash;  result count  &ndash;&gt;
                    <div class="flex sm:flex-1 sm:items-center sm:justify-between pb-2">
                        <div>
                            <p class="text-sm text-gray-700">
                                Showing
                                <span class="font-medium">1</span>
                                to
                                <span class="font-medium">30</span>
                                of
                                <span class="font-medium">750</span>
                                results
                            </p>
                        </div>
                    </div>-->

    </div>

    <!-- pagination -->

    <!--
            <div class="container mx-auto px-4 sm:px-6 lg:px-8 border-gray-900/10 border-t">
                <nav class="flex items-center justify-between px-4 sm:px-0 pb-4">

                    <div class="-mt-px flex w-0 flex-1">


                    </div>

                        <div class="hidden md:-mt-px md:flex">



                                <a href="?page=1&amp;search=&amp;order_by=featured_priority&amp;order_sign=desc&amp;genre=Any#search-bar" class="inline-flex items-center border-t-2 border-red-400 px-4 pt-4 text-sm font-medium text-red-500" aria-current="page">1</a>


                        </div>

                        <div class="hidden md:-mt-px md:flex">



                                    <a href="?page=2&amp;search=&amp;order_by=featured_priority&amp;order_sign=desc&amp;genre=Any#search-bar" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">2</a>


                        </div>

                        <div class="hidden md:-mt-px md:flex">



                                    <a href="?page=3&amp;search=&amp;order_by=featured_priority&amp;order_sign=desc&amp;genre=Any#search-bar" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">3</a>


                        </div>

                        <div class="hidden md:-mt-px md:flex">



                                    <span class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500">...</span>


                        </div>

                        <div class="hidden md:-mt-px md:flex">



                                    <a href="?page=25&amp;search=&amp;order_by=featured_priority&amp;order_sign=desc&amp;genre=Any#search-bar" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">25</a>


                        </div>

                    <div class="-mt-px flex w-0 flex-1 justify-end">

                            <a href="?page=2&amp;search=&amp;order_by=featured_priority&amp;order_sign=desc&amp;genre=Any#search-bar" class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                Next
                                <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"></path>
                                </svg>
                            </a>

                    </div>
                </nav>
            </div>
    -->


    <script>
        function toggleGenreMenu() {
            const genreMenu = document.getElementById("genre-menu");
            if (genreMenu.style.display === "none") {
                genreMenu.style.display = "block";
            } else {
                genreMenu.style.display = "none";
            }

            const orderMenu = document.getElementById("order-menu");
            orderMenu.style.display = "none";
        }

        function toggleOrderMenu() {
            const orderMenu = document.getElementById("order-menu");
            if (orderMenu.style.display === "none") {
                orderMenu.style.display = "block";
            } else {
                orderMenu.style.display = "none";
            }

            const genreMenu = document.getElementById("genre-menu");
            genreMenu.style.display = "none";
        }
    </script>

</div>
<!-- Global notification live region, render this permanently at the end of the document -->
<div aria-live="assertive"
     class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6 z-50">
    <div class="flex w-full flex-col items-center z-50 space-y-4 sm:items-end">

        <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 z-50"
             x-data="{ showSuccessMessage: false }" x-show="showSuccessMessage" style="display: none;"
             x-init="setTimeout(() => showSuccessMessage = false, 5000)"
             x-transition:enter="transform ease-out duration-300 transition"
             x-transition:enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
             x-transition:enter-end="translate-y-0 opacity-100 sm:translate-x-0"
             x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0">
            <div class="p-4 z-50">
                <div class="flex items-start">
                    <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-green-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                    </div>
                    <div class="ml-3 w-0 flex-1 pt-0.5">
                        <p class="text-sm font-medium text-gray-900">Success!</p>
                        <p class="mt-1 text-sm text-gray-500">None</p>
                    </div>
                    <div class="ml-4 flex flex-shrink-0">
                        <button type="button"
                                class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                                @click="showSuccessMessage = false">
                            <span class="sr-only">Close</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 z-50"
             x-data="{ showErrorMessage: false }" x-show="showErrorMessage" style="display: none;"
             x-transition:enter="transform ease-out duration-300 transition"
             x-transition:enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
             x-transition:enter-end="translate-y-0 opacity-100 sm:translate-x-0"
             x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100"
             x-transition:leave-end="opacity-0">
            <div class="p-4 z-50">
                <div class="flex items-start">
                    <div class="flex-shrink-0">
                        <svg class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>

                        </svg>
                    </div>
                    <div class="ml-3 w-0 flex-1 pt-0.5">
                        <p class="text-sm font-medium text-gray-900">Error</p>
                        <p class="mt-1 text-sm text-gray-500">None</p>
                    </div>
                    <div class="ml-4 flex flex-shrink-0">
                        <button type="button"
                                class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                                @click="showErrorMessage = false">
                            <span class="sr-only">Close</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer aria-labelledby="footer-heading" class="bg-white relative border-t border-gray-900/10">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8 gap-2">
        <!--  icons  -->
        <div class="flex justify-center space-x-6 md:order-3">
            <a href="/privacy" target="_blank" class="text-gray-400 hover:text-gray-500 text-xs sm:text-center mt-1">
                Privacy Policy
            </a>
            <a href="mailto: support@modernserial.com" target="_blank" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Email</span>
                <!-- Heroicon name: outline/mail -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                </svg>
            </a>

            <a href="https://twitter.com/andrewedstrom" target="_blank" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Twitter</span>
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
                </svg>
            </a>
        </div>
        <!--  Copyright  -->
        <div class="mt-4 md:mt-0 md:order-1">
            <p class="text-center text-base text-gray-400">
                © 2023 Micro Lecturi, WBR
            </p>
        </div>

        <!--  Feedback  -->
        <div class="mt-4 md:mt-0 md:order-2">
            <p class="text-center text-base text-gray-400">
                Aveti feedback? Anuntati-ne la
                <a href="mailto:feedback@modernserial.com" target="_blank" class="underline hover:text-gray-500">
                    futem_pisica@pestetot.com
                </a>
            </p>
        </div>
    </div>
</footer>


</body>
</html>